*{
	box-sizing:border-box;
}
@font-face {
 font-family:magistral;
 src:url(https://use.typekit.net/af/7bdb0c/0000000000000000000100b9/27/l?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),
 url(https://use.typekit.net/af/7bdb0c/0000000000000000000100b9/27/d?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),
 url(https://use.typekit.net/af/7bdb0c/0000000000000000000100b9/27/a?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
 font-display:swap;
 font-style:normal;
 font-weight:400
}
@font-face {
 font-family:magistral;
 src:url(https://use.typekit.net/af/026de5/0000000000000000000100b8/27/l?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),
 url(https://use.typekit.net/af/026de5/0000000000000000000100b8/27/d?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),
 url(https://use.typekit.net/af/026de5/0000000000000000000100b8/27/a?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
 font-display:swap;
 font-style:normal;
 font-weight:300
}
@font-face {
 font-family:magistral;
 src:url(https://use.typekit.net/af/5ce52a/0000000000000000000100bb/27/l?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),
 url(https://use.typekit.net/af/5ce52a/0000000000000000000100bb/27/d?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),
 url(https://use.typekit.net/af/5ce52a/0000000000000000000100bb/27/a?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
 font-display:swap;
 font-style:normal;
 font-weight:700
}
.tk-magistral {
 font-family:magistral,sans-serif
}
@font-face {
 font-family:Material Design Icons;
 src:url(/cbe38d729cdd3a3ba3e9360da051b7ca7c2c3b02/ec9b9/assets/fonts/materialdesignicons-webfont.eot);
 src:url(/cbe38d729cdd3a3ba3e9360da051b7ca7c2c3b02/ec9b9/assets/fonts/materialdesignicons-webfont.eot#iefix&v=2.8.94) format("embedded-opentype"),
 url(/d0b91e63e65d704a200e54001ad7240d17ac3351/02c89/assets/fonts/materialdesignicons-webfont.woff2) format("woff2"),
 url(/10f89c751d7afb881f768df869d8000c33c37ed6/235b7/assets/fonts/materialdesignicons-webfont.woff) format("woff"),
 url(/3e62bd115e07586bcb19e6f37c8fb125b261c105/ce72b/assets/fonts/materialdesignicons-webfont.ttf) format("truetype"),
 url(/ae160f7d2a1533b2ace641893442a8db73a1ef83/f2614/assets/fonts/materialdesignicons-webfont.svg#materialdesigniconsregular) format("svg");
 font-weight:400;
 font-style:normal;
 font-display:swap
}
html,body{
	margin: 0;
	min-height: 100%;
	height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden
}
ul{
  margin: 0;
  padding: 0;
}
p{
	margin: 0;
    margin-bottom: 0px;
margin-bottom: 15px;
line-height: 1.6;
}
.banner-home {

    background: url(../images/opal-loop.jpg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
    min-height: 500px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    padding-top: 200px;
    text-align: center;
    color: #fff;
}
.banner-text {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    padding: 15px;
}
.banner-text form input {
    width: 90%;
    height: 34px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    background-image: url(../images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 16px;
    background-color: #fff;
}
.banner-text h2 {
    font-size: 2.53333rem;
    letter-spacing: .8rem;
    line-height: 4.09893rem;
    font-weight: 100;
    font-kerning: normal;
text-transform: uppercase;
    font-family: magistral,Roboto,sans-serif;
    margin-top: 0;
}
.banner-text .qctrl-mono {
    color: #888;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
.banner-text form {
    margin-top: 50px;
    margin-bottom: 30px;
}
.banner-text p {
    font-size: 1.25em;
    color: #ffffffc9;
}
.banner-text p  a{
  text-decoration: none;
}
a{
  text-decoration: none;
}
.banner-text p.small-text{
  font-size: 14px;
}
.q-header ul li .btn {
    display: inline-block;
    font-weight: 300;
    color: #d1c9d4;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .3333rem 1.8rem;
    border-radius: .26667rem;
    min-width: 100px;
	text-transform: capitalize;
	padding: 5px 10px;
}
.q-header ul li .btn.btn-grd {
    background: radial-gradient(circle at 0 0,#5b02c1 0,#680cea 21%,#bf05dd 100%) !important;
    color: #fff;
    border: #680cea;
}
.q-header  .logo {
    float: left;
}
.q-header .dt-nav {
    float: right;
}
.q-header ul li{
    position: relative;
     display: inline-block;
}
.dt-nav> ul > li {
    height: 60px;
}
.q-header ul li a{
    display:block;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    letter-spacing: .05rem;
    font-weight: 300;
    line-height: 1.618;
}
.q-header ul li a span {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 2px 0;
    font-size: 12px;
}

/*ul .dropdown a{
    background:url('../images/arrow.png');
}*/
.dt-nav ul li a:hover {
    color: #680cea;
    text-decoration: none;
    background-color: rgba(104,12,234,.035);
}
.dt-nav ul ul {
    position: absolute;
    min-width:10rem;
   top: 60px;
    background: #fff;
    padding:0;
   display: none;
   left: -30%;
}
.dt-nav  ul ul li{
  display: block;
}
.dt-nav  ul ul li a{
   text-align: center;
text-transform: uppercase;
font-size: .86667rem;
font-weight: 400;
letter-spacing: .12rem;
display: block;
width: 100%;
padding: .66667rem 2.86667rem;
clear: both;
font-weight: 300;
color: #231e21;
text-align: inherit;
white-space: nowrap;
background-color: transparent;
border: 0;
text-align: center;
}
.dt-nav  ul ul::after {
  content: "●";
width: 10px;
height: 10px;
line-height: 9px;
font-size: 1.13333rem;
color: #680cea;
background: #680cea;
overflow: hidden;
position: absolute;
top: -4px;
left: 45%;
opacity: 1;
border-radius: 100%;

}
.dropdown:hover ul{
    display: block;
}
.q-header .sticky{
	min-height: 4.8rem;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 30px 0;
}
.mb-nav{
    display: none;
}



@media only screen and (max-width: 980px) {
/* -- Slideout Sidebar -- */
.banner-home{
  min-height: 700px;
}
.slideout-sidebar {
  position: fixed;
  top: 0;
  right: -1000px;
  z-index: 0;
  width: 200px;
  height: 100%;
  padding: 0;
  padding-top: 80px;
  background-color: #212121;
  transition: all 300ms ease-in-out;
}

.slideout-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideout-sidebar ul li {
  cursor: pointer;
  border-bottom: 1px solid rgba(244,244,244,0.4);
  color: rgba(244,244,244,0.7);
  display: block;
}
.slideout-sidebar ul li a {
    padding: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}
.slideout-sidebar ul li a:hover{
  opacity: 0.7;
}
.slideout-sidebar ul li ul{
  padding-bottom: 18px;
  display: none;
}
.slideout-sidebar ul li:hover ul{
  display: block;
}
.slideout-sidebar ul li ul li{
  border: none;
}
.slideout-sidebar ul li ul li a {
    padding: 5px 5px 5px 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 0.8rem;
    border: none;
}
.slideout-sidebar ul li:last-child {
  border-bottom: 0;
}

.slideout-sidebar ul li:hover {
  color: rgba(244,244,244,1);
}
#menu-toggle ,.dt-nav{
  display: none;
}
.mb-nav{
    display: block;
}
.menu-icon {
  position: absolute;
  top: auto;
  right: 30px;
  font-size: 30px;
  z-index: 1;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: #fff;
}


/*-- The Magic --*/
#menu-toggle:checked ~ .slideout-sidebar {
  right: 0px;
}

/*#menu-toggle:checked + .menu-icon {
  right: 210px;
}*/

#menu-toggle:checked ~ .content-container {
  padding-right: 190px;
}

}