.main {
  background-color: rgba(238, 234, 234, 0.925);
  height: 100%;
}
.nav {
  background-color: white;
  display: "flex";
  padding-left: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.651);
}
.add-icon {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 1rem;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inner {
  width: 70%;
  padding-top: 2rem;
}
.badge {
  background-color: rgb(115, 202, 28) !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 3px !important;
}
.m-0 {
  margin: 0px !important;
}
.close-icon {
  float: right;
  cursor: pointer;
  margin: 5px;
}
.btn {
  margin-top: 10rem;
  width: 80% !important;
}
.modal-text {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-white{
  background-color: white !important;
}
